{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "development": {
      "plugins": ["external-helpers"]
    },
    "production": {
      "plugins": ["external-helpers"]
    }
  }
}
